/* .App{
  display: flex;
  background-color:beige ;
  border: 2px solid rgb(238, 238, 102);
  border-radius: 8px;
  align-self: center;
  min-width: 500px;
}

html, 
body {
  display: flex;
  justify-content: center;
  align-items: center;
} */